.banner{
    background: url('../img/Zl62vfHG.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.perfil {
    border-radius: 70%;
    border: #fff solid 0.5rem;
    height: 50%;
}

.myName {
    font-family: 'Dosis', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}



@media (max-width: 575.98px) { 
    .banner{
        background-position: right;
        height: 100vh;
    }

}
    
.perfil {
    height: 100%;
}

.myName {
    font-family: 'Dosis', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 768px) and (max-width: 1200px) {
.banner {
    background-position: right;
    height: 100vh;
}
  }

.perfil {
    height: 100%;
}

@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) { }